<p id="notice"><%= notice %></p>

<h1 class="main-title">Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
    <div class="product">
      <div class='product-body'>
        <h2><%= restaurant.name %></h2>
      </div>
      <div class="product-controls" style="color:#696969">
        <p><%= restaurant.address %></p>
        <p><em><%= restaurant.phone_number %></em></p>
        <p><strong><%= restaurant.category %></strong></p>
      </div>
    </div>
  <% end %>
  <% end %>
